/* Contenedor principal */

body {
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    color: #19294b;
}

.text-primary,
.btn-primary {
    background-color: #19294b !important;
    border-color: #19294b !important;
}

.btn-outline-primary {
    color: #19294b !important;
    border-color: #19294b !important;
}

.btn-outline-primary:hover {
    background-color: #19294b !important;
    color: white !important;
}

#contacto {
    background-color: #F5F1EB;
}

#contacto .btn:hover {
    transform: translateY(-2px);
    transition: .3s;
}